* {
  /* border: 1px solid black; */
}
header {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #btn-container a {
  margin-right: 0.5rem;
}

p#loading {
  align-self: center;
  font-size: 4rem;
}
