@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: tomato;
}
#countdown {
  align-self: center;
  margin: 0 auto;
  color: red;
}
form {
  background-color: violet;
  margin: 0 auto;
  align-self: center;
}
